################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.idea/**
**/.vs/**
/BuildProcessTemplates/**
**/bin/**
**/obj/**
**/UpgradeLog.htm
**/*.csproj.user
**/Backup